[submodule "third_party/blst"]
	path = third_party/blst
	url = https://github.com/supranational/blst.git
[submodule "third_party/ngtcp2"]
	path = third_party/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "third_party/quictls"]
	path = third_party/quictls
	url = https://github.com/quictls/openssl.git
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
